@font-face {
    font-family: 'digital-7 ';
    src:url("../fonts/digital-7.ttf")
    }
.calculator{
    font-family: "digital-7",sans-serif;
    border: 1px solid #cccccc;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 560px;
}
.key{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 10px;
    margin: auto;
}
.btn{
    height: 60px;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    border: 0.2px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
    text-shadow:0 1px rgba(255,255,255,.4);
    cursor: pointer;
}
.btn:hover{
    background-color: #eaeaea;
}
.btn-operator{
    color: #fff;
    background-color:#eebb24;
   border: 0.2px solid #c4c4c4;
   border-radius: 3px;
   cursor: pointer;
}
.btn-operator:hover{
    background-color: #f9d25d;
}
.btn-clear{
    background-color: #f0595f;
    color: #fff;
     border: 0.2px solid #c4c4c4;
   border-radius: 3px;
   cursor: pointer;
}
.btn-clear:hover{
    background-color: #f17377;
}
.green{
    background-color: #f0595f;
    color: #fff;
}
.green:hover{
    background-color: #f17377;
}
.blue{
    background-color: #25a8e0;
   
}
@media screen and (max-width:600px){
    .calculator{
    
    width: 310px;
    height: 460px;
}
.key{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 5px;
    margin: auto;
}
.btn{
    height: 45px;
    padding: 2px;
}
    
}